/* CSS Reset
----------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Basic styles
--------------------*/

body {
  background: url(assets/freedom.jpg) no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.9);
  text-shadow: 0 0 6px #FFFFFF, 0 0 10px #000000;
  display: flex;
}

.wrapper{
  padding-top: 4rem;
  margin: auto;
  width: 90%;
  text-align: center;
}

q {
  text-transform: uppercase;
  display: block;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  margin: 1rem 0;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.5rem;
}

ul {
  margin-top: 3rem;
  list-style-type: none;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: 900;
  text-transform: capitalize;
  font-size: .8rem;
}

li {
  display: inline;
}

a {
  padding: .5rem;
  text-decoration: none;
}


/* Mobile version
--------------------*/

@media (max-width: 768px) {
  .wrapper {
    padding-top: 6rem;
  }
  
  q {
    font-size: 1.6rem;
  }
  
  .author {
    padding-top: 3rem;
    font-size: 1.3rem;
  }
  
  ul {
  margin-top: 2rem;
  font-size: .7rem;
  }
}


/* Wildscreen version
--------------------*/

@media (min-width: 1400px) {
  q {
    font-size: 4rem;
  }
  
  .author {
    padding-top: 3rem;
    font-size: 3rem;
  }
  
  ul {
    margin-top: 4rem;
    font-size: 1.5rem;
  }
}